{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <h1>About Page</h1>
    <p>This is about page of this project</p>
    <p>Welcome to Django</p>
    <p>This is a simple website</p>
    <p>Made by Anuj</p>
    <p>Made with Django</p>

</body>
</html>